<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>Welcome to the birthday reminder, {{ username }}.</h2>

      <p><b>Birthday Reminder for <img src="/static/images/drchrono.png" alt="" width="64" style="margin-top: -4px;" /></b> is designed to help doctors track their patients' birthday.</p>

      <p>Open source project:
        <a href="http://github.com/stewartpark/bdayreminder" target="_blank"><i class="fa fa-github"></i> stewartpark/bdayreminder</a>
      </p>

      <p>
        Here's the list of patients whose birthday is <b>{{date | date: 'MMMM dd'}}</b>:
      </p>

      <div style="margin-left: 30px;">
        <uib-datepicker ng-model="date" show-weeks="true" class=""></uib-datepicker>
      </div>

      <p>
        <br />
        <button class="btn btn-block btn-primary btn-lg">
          <i class="fa fa-envelope-o"></i> Send happy birthday emails to patients
        </button>
      </p>
    </div>
    <div class="col-md-7">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 64px;">Photo</th>
            <th>Full name</th>
            <th class="text-center">Birthday</th>
            <th class="text-center">Gender</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="patient in filteredPatients = (patients | filter: birthdayFilter)">
            <td class="text-center"><img ng-src="{{ patient.patient_photo }}" height="50" alt="" />
            <td>{{ patient.first_name }} {{ patient.last_name }}</td>
            <td class="text-center">{{ patient.date_of_birth }}</td>
            <td class="text-center"><i class="fa" ng-class="{
              'fa-female': patient.gender == 'Female',
              'fa-male': patient.gender == 'Male'
            }" ng-style="{'color': ({'Female': 'red', 'Male': 'blue'})[patient.gender]}" /></td>
            <td>{{ patient.email }}</td>
          </tr>
          <tr ng-if="filteredPatients.length == 0">
            <td colspan="5" class="text-center">No patient has that birthday.</td>
          </tr>
        </tbody>
      </table>
    </div>
 </div>
</div>
